<!DOCTYPE html>                                            

<html>

  <head>

    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="//code.jquery.com/jquery.min.js"></script>

    <script>
    </script>


  </head>

  <body>

    <h1>spk <%= title %></h1>

    <p>upload app</p>

    <p>result :<script> document.write(data); </script></p>
    <p>applist : <%= applist %></p>

    <form id='select_spk' action='spk'>
      <select name='spkfile' size='6'>
        <option value='' selected>--select APP--</option>
	<% for (var i =0 ; i<applist.length ; i++){ %>
	<option value='<%= applist[i] %>'><%= applist[i] %></option>
	<% } %>
      </select>
    </form>
    <form action='spk'>
      <select name='username' size='6' id='select_user'>
        <option value='' selected>--select user--</option>
	<% for (var i =1 ; i<userlist.length ; i++){ %>
	<option value='<%= userlist[i] %>' id='select_user<%=i%>' class='select_user'><%= userlist[i] %></option>
	<% } %>
      </select>
    </form>
    <form id='select_file' action='spk'>
      <select name='textfile' size='6'>
	<option value='' selected>--select file--</option>
	<% for (var i =1 ; i<filelist.length ; i++){ %>
	<option value='<%= filelist[i] %>'><%= filelist[i] %></option>
	<% } %>
      </select>
    </form>

      <input id='input_paramater' name='paramater' type='text' value='paramater'>

      <input type='submit' value='submit'>
      <input type='button' class='ajaxsend'>ajaxsend</button>

      <p>위치추정:
      <script>
	document.write(' asd ')
	document.getElementByid('select_user1').addEventListener('click', function(){
	  var user = document.getElementByid('select_user1').value;
	  sendAjax('http://127.0.0.1:3000/spk', user)
	})

      </script>
	<div id="result"></div>
      </p>

      <script>
	$('#select_user1').click( function(){
	  $('#result').html('');
	  $.ajax({
	    url: '/spk',
	    dataType: 'json',
	    type: 'POST',
	    data:{'msg':$('#select_user1).val()},

	    success:function(result) {
		if ( result['result'] == true ) {
		  $('#result').html(result['msg']};
		}
	    }
	  });
	})
      </script>

    <h1>result : 
      <script>
	var username = '<%= userlist[1] %>'
	document.write(' asd ');
	document.write(username);
	document.write(' <%= userlist[2] %> ');
      </script>
    </h1>

  </body>

</html>
