<!DOCTYPE html>                                            

<html>

  <head>

    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="//code.jquery.com/jquery.min.js"></script>

    <script>
    </script>


  </head>

  <body>

    <h1>spk <%= title %></h1>

    <p>upload app</p>

    <p>result :<script> document.write(data); </script></p>
    <p>applist : <%= applist %></p>

    <form id='target' action='spk'>

      <select name='spkfile' size='6'>
        <option value='' selected>--select APP--</option>

	<% for (var i =0 ; i<applist.length ; i++){ %>
	<option value='<%= applist[i] %>'><%= applist[i] %></option>
	<% } %>

      </select>

      <select name='username' size='6' id='select_user'>
        <option value='' selected>--select user--</option>

	<% for (var i =1 ; i<userlist.length ; i++){ %>
	<option value='<%= userlist[i] %>' id ='select_user<%=i%>' ><%= userlist[i] %></option>
	<% } %>

      </select>

      <select name='textfile' size='6'>
	<option value='' selected>--select file--</option>

	<% for (var i =1 ; i<filelist.length ; i++){ %>
	<option value='<%= filelist[i] %>'><%= filelist[i] %></option>
	<% } %>

      </select>

      <input id='input_paramater' name='paramater' type='text' value='paramater'>

      <script> document.write(data); </script>
      <input type='submit' value='submit' id='submit_button'>

    </form>

    <h1><%= data %></h1>
    <h1>result : 
    <script>
	$(function(){
                $('#select_user').click(function(e){
                    e.preventDefault();
                    console.log('select_link clicked');

					var data = '<%=userlist[1]%>'	
					$.ajax({
						type: 'POST',
						data: JSON.stringify(data),
						contentType: 'application/json',
						url: 'http://192.168.2.12:3000/spk',
                        success: function(data) {
                            console.log('success');
                            console.log(JSON.stringify(data));
                        }
                    });
                });				
            });

	var data = '<%= data %>'
	var username = '<%= userlist[1] %>'
	document.write('asd');
	document.write(username);
	document.write('<%= userlist[2] %>');
	document.write(data);
    </script>
    </h1>

  </body>

</html>
